
// where info on the first part of of this file:
// https://www.remwebdevelopment.com/blog/javascript/gulp-sass-and-bootstrap.html

//Override the default theme colors for bootstrap:
// Courtesy of themestr at: https://themestr.app/theme

// import web fonts
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
// can use a var for this to add to the classes etc

// if you aren't using Bootstrap grids, you can set this variable to false:
// $enable-grid-classes:true;

// override the theme colors
// $primary:#2f3c48;
// $secondary:#6f7f8c;
// $success:#3e4d59;
// $danger:#cc330d;
// $info:#5c8f94;
// $warning:#6e9fa5;
// $light:#eceeec;
// $dark:#1e2b37;

$darkBlueShadow: #101216;

//Color Palette 1
$skyBlue: #355C7D;
$purple: #725A7A;
$darkPink: #C56C86;
$pink: #FF7582;

//Color Patette 2
$darkBlue2: #2e3441;
$mutedDarkBlue2: #3b4253;
$red2: #c16069;
$Green2: #a2bf8a;
$yellow2: #edcc87;
$blue2: #80a0c2;
$purple2: #b58dae;
$lightBlue2: #86c0d1;
$muteWhite2: #e5e9f0;





//because this is in the scss it will be added to my css when exporting 
@import "../../node_modules/bootstrap/scss/bootstrap";




body {
    background-color: #2e3441;
  }

header {
  overflow: hidden;
  background-color:#3b4253;
  font-family: 'Share Tech Mono', monospace; 
  padding: 20px 10px;
  height: 8em;
  display: flex;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
  }

header a {
  color: white;
  text-decoration: none;
  font-family: 'Share Tech Mono', monospace "Bookman Old Style", Arial, sans-serif;
  font-size: 1.5em;
  padding: 0 30px;
  /* variable width */
  list-style-type: none;
  text-transform: uppercase;

  float: left;
  text-align: center;
  // padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  }
  
header a:hover {
  color: #63574b;
  }

.logo {
  display: block;
  text-indent: -9999px;
  width: 150px;
  border-image: 3em; }
  


/* Featured Article */
#featuredArticle {
  height: 15em ;
  background-image: linear-gradient(to right, #f8a255 , #ac3b61);
  text-align: center;
  color: white;
  font-family: 'Share Tech Mono', monospace;
  line-height: 26pt;
}

#featuredArticle:hover {
  /* text-decoration: none; */
  color: rgb(253, 255, 255); }

#featuredArticleTitle {
  /* TODO: make underline go away and have text change color  */
  /* TODO: this isn't doing anything right now. want to have the title a little lower (bootstrap is prob making hard to this css to do anything) */
  text-align: center !important; }

.padding {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}


/* card grid for aricles */

.card {
  background-color: $muteWhite2;
  height: 15em;
}

.card-footer {
background-color: $red2;
}
.text-muted {
  color: $muteWhite2 !important;

}

.card-colums {
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Footer */
footer {
  font-style: italic;
  text-align: center;
  background-color:#181b22;
  color: #888888;
  font-family: "Courier New", Arial, sans-serif;
  margin-left: 1em;
  margin-right: 1em; 
  flex-shrink: 0;
}

footer a {
  text-decoration: none;
  color: #888888; }

footer a:hover {
  color: #dfa76f; }


.article {
  background-color: white;
  box-shadow: 0px 0px 10px 2px $darkBlueShadow;

}

  @media screen and (min-width : 810px) {
    .fixedCardSizeCentered {
      width: 70%;
      // height: 50%;
      align-content: center;
    }

  }

  @media screen and (max-width : 800px){
    .makeGoPoof {
      display: none;
    }

  }

  @media screen and (max-width: 500px) {
    .removeMargin {
      margin-top: none;
      margin-bottom: none;
    }
    
  }

