@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* NOTES:

when dealing with padding margin etc it goes clock wise starting with: top, right, botton, left
0, 0, 0, 0

*/

header, body {
    display: block;
}

/*header*/
header {
    background-color: rgba(243, 230, 220, 0.918);
    /*width: 100%;*/
    position: sticky;
    color: #f0f0f0;
    font-family: 'Share Tech Mono', monospace;
    
}

nav ul {
  list-style:none;
}

nav a {
  float:left;
  color: rgb(136, 136, 136);
  text-decoration:none;
  font-family: 'Share Tech Mono', monospace "Bookman Old Style", Arial, sans-serif;
  font-size: 1.5em;
  padding:0 30px; /* variable width */
  list-style-type: none;
  text-transform: uppercase;
}

li a:hover {
  color: rgb(99, 87, 75);

}

.logo {
    display: block;
    text-indent: -9999px;
    width: 150px;
    margin-left: 3em;
  }

  .headerContainer {
    height: 6em; 
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
  }

  a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


  /* Featured Article */
  #featuredArticle {
    height: 400px;
    background-color: #355C7D;

  }

  #featuredArticle {
    padding-bottom: 1m;
  }

  #featuredArticleHover:hover {
    /* text-decoration: none; */
    color: cadetblue;
  }


  #featuredArticleConentContainer {
    height: 400px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 0, 15px, 0, 15px;
    text-align: center;
    color: #f0f0f0;
    font-family: 'Share Tech Mono', monospace;
    line-height: 26pt;
  }

 #featuredArticleTitle {
   /* TODO: make underline go away and have text change color  */
   /* TODO: this isn't doing anything right now. want to have the title a little lower (bootstrap is prob making hard to this css to do anything) */
    text-align: center !important;   
  }
/* 
#featuredArticleImage{
    max-width: 80% !important;
    width: 500px !important;
  } */





  /* Article 2x2 css */

  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 0;
    padding: 50px;
  }
  
  .column {
    flex: 1;
    background-color: #355C7D;
    color: #f0f0f0;
    margin: 2px;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;  
  }
  


  /* Footer */
  footer{
    font-style: italic;
    text-align: center;
    background-color: rgba(243, 230, 220, 0.918);
    color: rgb(136, 136, 136);
    font-family: "Courier New", Arial, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

footer a{
    text-decoration:none;
    color: rgb(136, 136, 136);
}
footer a:hover {
    color: #dfa76f;
}